
body {
    height: 100vh; /* Asegúrate de que el body ocupe toda la altura de la ventana del navegador */
    margin: 0; /* Elimina márgenes por defecto */
    background: linear-gradient(to right, #086ee2, #ff3c00); /* Degradado de colores */
}



